.game {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 50px;
  border-radius: 25px;
  height: 40vh;
  box-shadow: 0 15px 15px rgba(0,0,0,0.1);
  align-items: center;
}

ol, ul {
  padding-left: 30px;
}

li {
  padding-top: 5px;
}
/* Tic Tac Toe Board */
.board {
  padding: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 2px solid #ddd;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* Info */
.game-info {
  height: inherit;
  width: 30ex;
}

.game-info h2 {
  text-align: center;
}