body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}